<!--Per agafar un valor del component a l'html s'utilitza {{}}
[class.active és un class binding, s'activa depenent de la condició]
Si volem utilitzar una variable en un atribut, s'utilitza [nomVariable] -->
<app-card>
  <button [class.active]="selected()" (click)="onSelectUser()">
    <img [src]="imagePath" [alt]="user().name"/>
    <span>{{user().name}}</span>
  </button>
</app-card>


<!--[ ] Claudàtors (Property Binding): La informació viatja del TypeScript cap a l'HTML. 
L'utilitzes per enviar dades (ex. [user]="elMeuUsuari" o [class.active]="true").
( ) Parèntesis (Event Binding): La informació viatja de l'HTML cap al TypeScript. 
L'utilitzes per enviar accions o esdeveniments (ex. (click), (keyup), (mouseenter)).
[( )] Banana en una capsa (Two-Way Binding): La informació viatja en ambdues direccions al mateix temps. 
És la barreja dels dos anteriors, com vas veure a l'exemple dels formularis amb [(ngModel)].
-->